@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  user-select: none;
}

/* Apply global font settings */
html {
  font-family: 'DM sans', sans-serif;
}



/* Reset margins and paddings, ensure smooth scrolling */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

span {
  font-size: 14px;
}

/* Container for the entire app */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow-x: hidden; /* Prevents horizontal overflow */
}

/* Wrapper for horizontal scrolling sections */
/* Assuming four sections, adjust if you have more or fewer */
.sections-wrapper {
    display: flex;
    height: 100vh;
    width: 100%; /* Adjust this value based on the number of sections */
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-snap-stop: always; /* Ensure snapping stops fully */
    overflow-x: scroll;
  }
  

/* Each section takes up full viewport height and width */
section {
  flex: 1 0 100%;
  height: 100vh;
  scroll-snap-align: start; /* Ensures sections snap into place */
  color: #02badb; /* Universal font color for page content */
  background-color: #f9fafb;
}

/* Section-specific background colors for light mode */
body {
  background-color: #ffffff; /* Light gray background */
  color: #1f2937; /* Dark gray text */
}

nav {
  color: #ffffff; /* Dark gray text */
}

footer {
  background-color: #e5e7eb; /* Light gray footer */
  color: #1f2937; /* Dark gray text */
}

/* Button styles */
button {
  background-color: #2563eb; /* Blue background */
  color: #ffffff; /* White text */
  padding: 0.5rem 1rem; /* Padding for buttons */
  border-radius: 0.375rem; /* Rounded corners */
  font-weight: 600; /* Bold text */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

button:hover {
  background-color: #1e40af; /* Darker blue on hover */
  color: #e0f2fe; /* Light blue text on hover */
}


/* Dark mode specific styles */
.dark body {
  background-color: #1a202c; /* Dark gray background */
  color: #f9fafb; /* Light gray text */
}

.dark nav {
  color: #f9fafb; /* Light gray text */
}

.dark footer {
  background-color: #2d3748; /* Dark gray footer */
  color: #f9fafb; /* Light gray text */
}

.dark button {
  background-color: #4f46e5; /* Purple background */
  color: #f9fafb; /* Light gray text */
}

.dark button:hover {
  background-color: #4338ca; /* Darker purple on hover */
  color: #e0f2fe; /* Light blue text on hover */
}

.dark section {
  background-color:   #006e81;
  color: #ffffff; /* Universal font color for page content */
}

